@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/container";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/title";
@import "bulma/sass/components/tabs";
@import "bulma/sass/form/shared";
@import "bulma/sass/form/tools";
@import "bulma/sass/helpers/color";
@import "bulma/sass/helpers/spacing";
@import "bulma/sass/helpers/typography";

.grid {
  display: grid;
  @include mobile {
    grid-template-columns: 1fr;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  gap: $block-spacing;
  margin-bottom: $block-spacing;
}
